html, body {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
  font-size: 62.5%;
  background-color: #EEF0F4;
  user-select: none;
}

main {
  height: 100vh;
  width: 100vw;
}

.container {
  background-color: #eef0f4;
  border-radius: 1rem;
  max-width: 32rem;
}

main, .container {
  display: flex;
  flex-direction: column;
  margin: auto;
}

img {
  width: 20rem;
  margin: 0 auto;
}

input {
  color: #432000;
  background-color: #DCE1EB;
  margin: 1rem 0;
}

input:focus {
  outline: solid #38A3A5;
}

button {
  color: #FDFDFD;
  background-color: #38A3A5;
  margin-bottom: .5rem;
}

input, button {
  border: 0;
  padding: 1.5rem;
  border-radius: .8rem;
  font-size: 2rem;
  text-align: center;
  font-family: "Rubik", sans-serif;
}

button:hover {
  background-color: #22577A;
  cursor: pointer;
}

button:active {
  background-color: #57CC99;
}

#message {
  border: 0;
  padding: 0.5rem;
  font-size: 1.5rem;
  text-align: center;
  font-family: "Rubik", sans-serif;
  border-radius: .8rem;
  background-color: #FFD381;
  font-weight: bold;
}

ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  gap: .8rem;
}

li.confirm-delete {
  background-color: #ffebee !important;
  color: #c62828 !important;
  cursor: pointer;
}

ul li {
  flex-grow: 1;
  border: 0;
  padding: 1.5rem;
  border-radius: .8rem;
  text-align: center;
  font-size: 2rem;
  font-family: "Rubik", sans-serif;
  background-color: #FFFDF8;
  box-shadow: 0rem .1rem .4rem rgba(0, 0, 0, 0.2);
}

li:hover {
  background-color: #FFD381;
  cursor: pointer;
}

#no-itens {
  font-size: 2rem;
  text-align: center;
  margin: .1rem 0 0 0;
  padding: 1.5rem;
  font-family: "Rubik", sans-serif;
  display: none;
  background-color: #FFD381;
  border-radius: .8rem;
}